.body {  
   background-image: url("../images/background.webp");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   width: 100%;
   height: 100%;
    .login {
        width: 400px;
        height: 850px;
        margin:auto;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        .my-login{   
            color: #fff;
            .card-header {
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-bottom: 20px ;    
               
            }
            .el-form{
                position: relative;
                .my-form {
                    position:relative;
                    #user-img {
                        width: 25px;
                        height: 25px;
                        position:absolute;
                        margin-top: -12.5px;
                        top: 50%;
                        left: -33px;
                    }
                    #password-img {
                        width: 25px;
                        height: 25px;
                        position:absolute;
                        margin-top: -12.5px;
                        top: 50%;
                        left: -33px;
                    }
                    #eyes-img {
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        margin-top: -10px;
                        top: 50%;
                        right: 10px;
                    }
                    .my-input {
                        border-radius: 10px;
                        height: 40px;
                        width: 380px;                      
                        padding-left: 10px;
                        
                    }
        
                }
           
            }
            .my-login-button {
                position: absolute;
                left: 43%;
                bottom: -40px;         
        
            }
            .register {
                position: absolute;
                bottom: -70px;
                font-size: 10px;
                color:#fff
            }
    
        }
           
    }

}



